alatty/terminfo.h linguist-generated=true
terminfo/alatty.termcap linguist-generated=true
terminfo/alatty.terminfo linguist-generated=true
terminfo/x/xterm-alatty linguist-generated=true
alatty/char-props-data.h linguist-generated=true
alatty_tests/GraphemeBreakTest.json linguist-generated=true
alatty/charsets.c linguist-generated=true
alatty/key_encoding.py linguist-generated=true
alatty/rowcolumn-diacritics.c linguist-generated=true
alatty/rgb.py linguist-generated=true
alatty/srgb_gamma.* linguist-generated=true
alatty/gl-wrapper.* linguist-generated=true
alatty/glfw-wrapper.* linguist-generated=true
alatty/parse-graphics-command.h linguist-generated=true
alatty/parse-multicell-command.h linguist-generated=true
alatty/options/types.py linguist-generated=true
alatty/options/parse.py linguist-generated=true
alatty/options/to-c-generated.h linguist-generated=true
kittens/diff/options/types.py linguist-generated=true
kittens/diff/options/parse.py linguist-generated=true
glfw/*.c linguist-vendored=true
glfw/*.h linguist-vendored=true
3rdparty/** linguist-vendored=true
kittens/unicode_input/names.h linguist-generated=true
tools/wcswidth/char-props-data.go linguist-generated=true
tools/unicode_names/names.txt linguist-generated=true
terminfo/alatty.term* linguist-generated=true
terminfo/x/* linguist-generated=true
*_generated.* linguist-generated=true
*_generated_test.* linguist-generated=true

*.py  text diff=python
*.m  text diff=objc
*.go text diff=go
